@import 'bourbon/bourbon';
@import 'neat/neat';

$dark-blue: #23414F;
$blackish: #050304;
$brown: #AB8102;
$green: #3A4A19;
$ochre: #E3AE0E;

body {
  position: relative;
  font-family: $helvetica;
  background-color: $dark-blue;
  color: #fff;
  font-size: 20px;
  line-height: 1.6em;
}

.step.slide {
  @include outer-container;
  border-radius: 20px;
  width: 1200px;
  height: 700px;
  padding: 20px;
  background-color: $blackish;
  opacity: 0.8;
  pointer-events: auto;

  a {
    text-decoration: none;
    color: $ochre;
  }
}

.head {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid $brown;
  h1 {
    font-size: 60px;
  }

  .sub {
    font-size: 30px;
    color: $green;
  }
}

.feature {
  @include shift(4.5);
}

.content {
  padding: 20px 100px;
  font-size: 25px;

  section {
    @include row();
  }
}

.left-col {
  @include span-columns(4);
}

.right-col {
  @include span-columns(4);
}

.hammertime {
  @include span-columns(8);
  border: 1px dashed $brown;
  border-radius: 30px;
  img {
    display: block;
    margin: 0 auto;
  }
}

#zoom {
  .left-col {
    @include span-columns(2);
  }
}

#overview {
  background-color: transparent;
}

#resources {
  text-align: center;
}
