* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #23414f;
  color: #fff;
  font-size: 20px;
  line-height: 1.6em;
}

.step.slide {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 1200px;
  height: 700px;
  padding: 20px;
  background-color: #050304;
  opacity: 0.8;
  pointer-events: auto;
}
.step.slide:before, .step.slide:after {
  content: " ";
  display: table;
}
.step.slide:after {
  clear: both;
}
.step.slide a {
  text-decoration: none;
  color: #e3ae0e;
}

.head {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ab8102;
}
.head h1 {
  font-size: 60px;
}
.head .sub {
  font-size: 30px;
  color: #3a4a19;
}

.feature {
  margin-left: 38.38412%;
}

.content {
  padding: 20px 100px;
  font-size: 25px;
}
.content section {
  *zoom: 1;
  display: block;
}
.content section:before, .content section:after {
  content: " ";
  display: table;
}
.content section:after {
  clear: both;
}

.left-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.left-col:last-child {
  margin-right: 0;
}

.right-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.right-col:last-child {
  margin-right: 0;
}

.hammertime {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  border: 1px dashed #ab8102;
  border-radius: 30px;
}
.hammertime:last-child {
  margin-right: 0;
}
.hammertime img {
  display: block;
  margin: 0 auto;
}

#zoom .left-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
#zoom .left-col:last-child {
  margin-right: 0;
}

#overview {
  background-color: transparent;
}

#resources {
  text-align: center;
}
